<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="BusinessLayer" type="iRely.Common.Ioc.AutofacConfigurationSection, iRely.Common" />
    <section name="Repository" type="iRely.Common.Ioc.AutofacConfigurationSection, iRely.Common" />
  </configSections>

  <BusinessLayer>
    <Providers>
      <add key="iRely.VideoShop.BusinessLayer.Implementation.CustomerBl" assembly="iRely.VideoShop.BusinessLayer" />
      <add key="iRely.VideoShop.BusinessLayer.Implementation.MovieBI" assembly="iRely.VideoShop.BusinessLayer" />
    </Providers>
  </BusinessLayer>
  <Repository>
    <Providers>
      <add key="iRely.VideoShop.BusinessLayer.Implementation" assembly="iRely.Sample.BusinessLayer" />
      
    </Providers>
  </Repository>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>